.margin-bottom-small {
  margin-bottom: 2rem; }

.margin-bottom-medium {
  margin-bottom: 4rem; }

.margin-bottom-large {
  margin-bottom: 6rem; }

.heading--1 {
  font-size: 6rem;
  font-family: "raleway", sans-serif;
  color: #2b2b2b;
  line-height: 1.1; }

.heading--2 {
  font-size: 3.5rem;
  color: #070439;
  font-family: 'raleway'; }

.heading--3 {
  font-size: 2.5rem;
  color: #2b2b2b;
  font-weight: 600; }

.description {
  color: gray;
  font-size: 1.7rem;
  line-height: 1.4; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.btn-full {
  background-color: #05d69b;
  border-radius: 3px; }

.cta__button {
  color: #fff;
  text-decoration: none;
  padding: 15px 70px;
  font-size: 2.5rem;
  font-family: "open sans", sans-serif;
  font-weight: 700; }

.container {
  display: flex;
  flex-direction: column;
  background-image: url(../images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-position: top right;
  height: 100vh;
  background-size: 800px;
  margin-bottom: 14rem; }

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 8rem;
  padding-left: 14rem;
  padding-right: 14rem;
  align-items: center; }
  .header__logo {
    height: 5.5rem;
    width: auto; }
  .header__nav {
    display: flex;
    align-items: baseline;
    list-style: none; }
    .header__nav--item {
      padding: 10px 40px;
      font-size: 1.5rem;
      font-weight: 600; }
      .header__nav--item a {
        text-decoration: none;
        color: #fff; }

.content-wrap {
  display: flex;
  justify-content: space-between;
  padding-left: 14rem;
  padding-right: 14rem;
  margin-top: -3rem;
  height: 80vh;
  align-items: center; }

.content {
  flex-basis: 41%; }

.imagebox img {
  height: 480px; }

.benefits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 22rem; }
  .benefits::before {
    content: '';
    position: absolute;
    height: 500px;
    background-color: #fafafa;
    width: 70%;
    z-index: -1;
    transform: rotate(40deg) skewY(-30deg) scaleY(1.7);
    border-radius: 50px; }
  .benefits__titles {
    text-align: center;
    flex-basis: 33%; }
  .benefits__box {
    display: flex;
    align-items: baseline;
    flex-basis: 100%;
    justify-content: space-around; }
    .benefits__box--item {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      flex-basis: 15%; }
