.margin-bottom-negative {
  margin-bottom: -2.3rem; }

.margin-bottom-small {
  margin-bottom: 2rem; }

.margin-bottom-medium {
  margin-bottom: 4rem; }

.margin-bottom-large {
  margin-bottom: 6rem; }

.lifted {
  transform: translateY(-5rem); }

.heading--1 {
  font-size: 6rem;
  font-family: "raleway", sans-serif;
  color: #2b2b2b;
  line-height: 1.1; }

.heading--2 {
  font-size: 3.5rem;
  color: #070439;
  font-family: 'raleway'; }

.heading--3 {
  font-size: 2.5rem;
  color: #2b2b2b;
  font-weight: 600; }

.description {
  color: gray;
  font-size: 1.7rem;
  line-height: 1.4; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden; }

.btn-full {
  background-color: #05d69b;
  border-radius: 3px; }

.cta__button {
  color: #fff;
  text-decoration: none;
  padding: 15px 70px;
  font-size: 2.5rem;
  font-family: "open sans", sans-serif;
  font-weight: 700; }

.container {
  display: flex;
  flex-direction: column;
  background-image: url(../images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-position: top right;
  height: 100vh;
  background-size: 800px; }

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 8rem;
  padding-left: 14rem;
  padding-right: 14rem;
  align-items: center; }
  .header__logo {
    height: 5.5rem;
    width: auto; }
  .header__nav {
    display: flex;
    align-items: baseline;
    list-style: none; }
    .header__nav--item {
      padding: 10px 40px;
      font-size: 1.5rem;
      font-weight: 600; }
      .header__nav--item a {
        text-decoration: none;
        color: #fff; }

.content-wrap {
  display: flex;
  justify-content: space-between;
  padding-left: 14rem;
  padding-right: 14rem;
  margin-top: -3rem;
  height: 80vh;
  align-items: center; }

.content {
  flex-basis: 41%; }

.imagebox img {
  height: 480px; }

.benefits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 26rem;
  margin-top: 15rem; }
  .benefits::before {
    content: '';
    position: absolute;
    height: 600px;
    background-color: #fafafa;
    width: 100%;
    z-index: -1;
    transform: rotate(40deg) skewY(-30deg) scaleY(1.7);
    border-radius: 50px; }
  .benefits__titles {
    text-align: center;
    flex-basis: 33%; }
  .benefits__box {
    display: flex;
    align-items: baseline;
    flex-basis: 100%;
    justify-content: space-around; }
    .benefits__box--item {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      flex-basis: 15%; }

.apps {
  margin-bottom: 40rem;
  display: flex;
  padding-left: 12rem;
  padding-right: 12rem;
  justify-content: space-around;
  align-items: center; }
  .apps__titles {
    flex-basis: 29%;
    margin-right: -15rem; }
  .apps__cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 85vh;
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; }
    .apps__cards--img {
      height: 120px;
      width: 25%;
      background-color: #fff;
      box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1);
      position: relative;
      margin-bottom: -2.3rem;
      z-index: 100; }
      .apps__cards--img:not(:last-child) {
        margin-right: 1.5rem;
        margin-top: 1.5rem; }
      .apps__cards--img img {
        max-height: 100%;
        max-width: 100%;
        padding: 2.5rem;
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .apps__cards--text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: min-content;
      width: 25%;
      background-color: #fff;
      box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1);
      padding: 2rem 3rem;
      margin-top: 2.7rem; }
      .apps__cards--text h2 {
        font-size: 2.7rem; }

.cards__description {
  font-size: 1.5rem; }
