$color-primary: hsl(243, 86%, 85%);
$color-primary-dark: hsl(243, 87%, 12%);

$color-secondary: hsl(163, 95%, 43%);

$color-gray: hsl(0, 0%, 50%);
$color-gray-light: hsl(106, 0%, 98%);
$color-gray-dark: hsl(0, 0%, 17%);

.margin-bottom-negative {
    margin-bottom: -2.3rem;
}

.margin-bottom-small {
    margin-bottom: 2rem;
}

.margin-bottom-medium {
    margin-bottom: 4rem;
}

.margin-bottom-large {
    margin-bottom: 6rem;
}

.lifted {
    transform: translateY(-5rem);
}