.apps {
    margin-bottom: 40rem;
    display: flex;
    padding-left: 12rem;
    padding-right: 12rem;
    justify-content: space-around;
    align-items: center;

    &__titles {
        flex-basis: 29%;
        margin-right: -15rem;
    }

    &__cards {
        display: flex;
        flex-direction: column; 
        text-align: center;
        height: 85vh;
        width: 50%;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center; 

        &--img {
            height: 120px;
            width: 25%;
            background-color: #fff;
            box-shadow: 0rem 0rem 1rem rgba(#000, .1);
            position: relative;
            margin-bottom: -2.3rem;
            z-index: 100;

            &:not(:last-child){
                margin-right: 1.5rem;
                margin-top: 1.5rem;
            }

            img {
                max-height: 100%;
                max-width: 100%;
                padding: 2.5rem;
                display: flex;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &--text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: min-content;
            width: 25%;
            background-color: #fff;
            box-shadow: 0rem 0rem 1rem rgba(#000, .1);
            padding: 2rem 3rem;
            margin-top: 2.7rem;

            h2 {
                font-size: 2.7rem;
            }
        }
    }
}

.cards__description {
    font-size: 1.5rem;
}