.container {
    display: flex;
    flex-direction: column;
    background-image: url(../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: top right;
    height: 100vh;
    background-size: 800px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 8rem;
    padding-left: 14rem;
    padding-right: 14rem;
    align-items: center;

    &__logo {
        height: 5.5rem;
        width: auto;
    }

    &__nav {
        display: flex;
        align-items: baseline;
        list-style: none;
        &--item {
            padding: 10px 40px;
            font-size: 1.5rem;
            font-weight: 600;
            

            & a {
                text-decoration: none;
                color: #fff;
                
            }
        }
    }
}

.content-wrap {
    display: flex;
    justify-content: space-between;
    padding-left: 14rem;
    padding-right: 14rem;
    margin-top: -3rem;
    height: 80vh;
    align-items: center;
}

.content {
    flex-basis: 41%;
}

.imagebox {

    img {
        height: 480px;
    }
}